@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* base styles */

* {
    margin: 0;
    font-family: "Quicksand";
    color: #333;
}
body {
	background-color: #ededed;
}
.navbar, .footer {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
}
footer {
    text-transform: capitalize;
}
.footer {
	border-top: 1px solid #f2f2f2;
	border-bottom: none;
	display: block;
	text-align: center;
}

.navbar h1 {
    color: #f1356d;
}
.navbar .links {
    margin-left: auto;
}
.navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
}
.navbar a:hover {
    color: #f1356d;
}
.content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
}
/* blog previews / list */

.blog-preview {
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 8px;
}
.blog-preview button {
	color: white;
	font-weight: bolder;
	padding: 5px;
	border-color: lightgrey;
	background-color: #F1356d;
	border-radius: 8px;
	cursor: pointer;
    display: block;
    width: 65px;
    height: 25px;
    text-transform: uppercase;
    border-radius: 5px;
    float: right;
    line-height: 0;
    border: none;
}

.top-title,
.no-blogs p,
.loading p, 
error p{
	margin-left: 15px;
	margin-bottom: 10px;
}
.loading p,
.error p{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

button#details-btn {
    margin-top: -55px;   
}

button#details-btn a {
    text-decoration: none;
    color: white;
}

button#delete-btn {
    margin-top: -25px;
}
article h2 {
    margin-top: 20px;
}

article p {
    margin-left: 15px;
    font-style: italic;
    font-size: 13px;
}

article div {
    margin-left: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
  margin-top: 20px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bolder;
  text-transform: uppercase;
}
.success,
.error {
    margin-top: 20px;
    color: white;
    font-weight: bold;
    padding: 10px 0;
}
.success {
    background-color: green;
}

.error {
    background-color: red;
}

.notfound h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
